# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

orbs:
  ruby: circleci/ruby@1.1.2

jobs:
  build:
    machine: true
    steps:
      - add_ssh_keys:
          fingerprints:
            - "69:24:53:95:a6:d3:af:3f:a2:a7:3f:a0:25:1c:16:b4"
      - checkout
      - run: |
          echo 'export NVM_DIR="/opt/circleci/.nvm"' >> $BASH_ENV
          echo ' [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"' >> $BASH_ENV
      - run: nvm install v15.6.0 && nvm alias default v15.6.0 && node -v
      - run: npm install --global yarn && yarn install --modules-folder ./_assets/yarn
      - run: "command curl -sSL https://rvm.io/mpapis.asc | gpg --import -"
      - ruby/install:
          version: '2.7.2'
      - run: /bin/bash --login -c "rvm --default use 2.7.2 && gem install bundler"
      - run: /bin/bash --login -c "npm run setup"
      - run: git config --global user.email "${GITHUB_EMAIL}"
      - run: git config --global user.name "${GITHUB_USER}"
      - run: /bin/bash --login -c "npm run publish"

workflows:
  deploy-site:
    jobs:
      - build