# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

orbs:
  ruby: circleci/ruby@1.1.2

jobs:
  build:
    docker:
      - image: cimg/node:15.6.0
    steps:
      - checkout
      - run: "command curl -sSL https://rvm.io/mpapis.asc | gpg --import -"
      - ruby/install:
          version: '2.7'
      - run: "node --version"
      - run: "npm run setup && npm run deploy"

workflows:
  deploy-site:
    jobs:
      - build